{% load static %}
<html>

<head>
	<title>Brewster's Portfolio</title>
	<link rel="stylesheet" href="../static/css/homepage_style.css">
</head>

<header>
  <div class="wrap">
    <h1>Welcome to Brewster's Portfolio Page</h1>
  </div>
    <img class="logo" src="{% static 'image/me.jpg' %}" alt="My image">
</header>

<!-- Top navigation -->
<div class="topnav">
  <!-- Left-aligned links (default) -->
  <a href="#home" class="active">About Me</a>
  <a href="#news">Projects</a>
  <a href="#contact">Contact Me</a>
</div>

<div class="main-content">
  {% if info %}
    {% for object in info %}
      <p> {{ object.get_brief_info }} </p>
    {% endfor %}
  {% endif %}
</div>


</html>