{% load static %}
<html>
<body>
  

  <head>
    <title>Brewster's Portfolio : Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/homepage_style.css">
  </head>
  
  
  
  <header style="background-image: url({% static 'image/cover2.jpg' %}); background-position: center center;">
    <div class="container-fluid">
        <h1>Welcome to Brewster's Portfolio Page</h1>
    </div>
    <div class="container">
      <img class="logo" src="{% static 'image/me.jpg' %}" alt="My image">
    </div>
  </header>
  
  <!-- Top navigation -->
  <div class="topnav">
    <!-- Left-aligned links (default) -->
    <a href="{% url 'portfolio:home' %}" class="active">About Me</a>
    <a href="{% url 'portfolio:projects' %}">Projects</a>
    <a href="{% url 'portfolio:contactme' %}">Contact Me</a>
  </div>
  
  <div class="main-content">

    <h1>About Me</h1>
    {% if info %}
      {% for object in info %}
        <p id="main-info">   {{ object.get_brief_info }} </p>
      {% endfor %}
    {% endif %}
  </div>
  


</body>
</html>