{% load static %}
<html>

<head>
	<title>Brewster's Portfolio</title>
	<link rel="stylesheet" href="../static/css/homepage_style.css">
</head>

<header>
  <div class="wrap">
    <h1>Welcome to Brewster's Portfolio Page</h1>
  </div>
</header>

<!-- Top navigation -->
<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
    <a href="#home" class="active">Home</a>
  </div>

  <!-- Left-aligned links (default) -->
  <a href="#news">Projects</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>

</div>

</html>