@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: rgb(146, 11, 11);
}

a {
    font-family: 'Trebuchet MS', sans-serif;
}

body {background-color: coral;}


.container-fluid {
  padding-top: 70px;
  padding-left: 35px;
}

.container-proj {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}



.container-proj2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 900px;
  padding-top: 20px;
  border: 2px hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 25px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  margin-top: 45px;
}

p#main-info {
  font-family: 'Play', sans-serif;
  font-size: 22px;
  color: black;
}

p {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: aliceblue;
}

.main-content {
  width: 100%;
  background-color: lightgrey;
  padding-top: 70px;
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 70px;
}

header, .full-width {
    display: flex;
    width: 100%;
  }
.wrap {
  width: 40%;
  margin: 0 20px;
  padding: 20px 20px 20px 20px;
  display:inline-block;
  vertical-align:middle;
}


img, .logo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  img, .logo {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    object-fit: cover;
    float: right;
    padding: 10px 20px 20px 10px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  padding-bottom: 25px;
}

.container-proj {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.container-proj2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  padding-top: 12px;
  border: 2px hidden;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 25px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.main-content {
  width: 100%;
  background-color: lightgrey;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}
}

@media screen and (max-width: 600px) {
  img, .logo {
    height: 250px;
    width: 250px;
    display: list-item;
    justify-content: center;
    align-items: center;
    top: 345px;
    right: 155px;
    position: relative;
  }

  .container-proj {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .container-proj2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    padding-top: 10px;
    border: 2px hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }

  #id_long_desc {
    width: 300px;
    height: 200px;
}

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
  }

  header, .full-width {
    display: flex;
    width: 100%;
    height: 600px;
    background:grey;
  }
  .wrap {
  width: 40%;
  max-width: 90em;
  margin: 0 20px;
  padding: 20px 20px 20px 20px;
  display:inline-block;
  vertical-align:middle;
  }

  .main-content {
    width: 100%;
    background-color: lightgrey;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
  }
}

/* Add a black background color to the top navigation */
.topnav {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    position: relative;
    background: linear-gradient(90deg, rgba(144,176,63,1) 0%, rgba(9,121,74,1) 28%, rgba(8,128,146,1) 46%, rgba(4,137,206,1) 57%, rgba(3,150,214,1) 76%, rgba(2,162,222,1) 87%, rgba(0,212,255,1) 100%);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background: radial-gradient(circle, rgba(255,242,7,1) 0%, rgba(105,203,49,1) 100%);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }


  }